<%- include header.ejs %>

<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-body" style="padding: 0px;">
					<div id="map-canvas" style="height: 800px;"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div hidden>
	<div id="markers">
		<% for(var i=0; i<systems.length; i++) { %>
		<svg id=<%= systems[i].uid %> style="width: 120px; height: 20px; position: absolute;">
			<circle r="7" cx="10" cy="10" style="fill: <%= systems[i].alerts_count ? '#d9534f' : '#5cb85c' %>;"/>
			<text x="7" y="11" dy=".28em" style="fill: #ffffff; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;"><%= systems[i].alerts_count || '' %></text>
			<text x="19" y="10" dy=".31em" style="fill: #333333; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;"><a href="#"><%= systems[i].name %></a></text>
		</svg>
		<% } %>
	</div>
</div>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdutCfjSUWBijyebze1ZoTzAhapZugD6Y&sensor=false"></script>

<script type="text/javascript">

var systems = <%- JSON.stringify(systems) %>;

var bound = new google.maps.LatLngBounds();

for (i = 0; i < systems.length; i++) {
  bound.extend( new google.maps.LatLng(systems[i].data.latitude, systems[i].data.longitude) );
}

var mapOptions = {
	mapTypeId: google.maps.MapTypeId.ROADMAP,
	streetViewControl: false,
	mapTypeControl: false,
	styles: [
	{
		stylers: [
		{ saturation: -100 },
		{ lightness: 30 }
		]
	},{
		featureType: "road",
		elementType: "geometry",
		stylers: [
		{ lightness: 70 },
		{ visibility: "simplified" }
		]
	},{
		featureType: "road",
		elementType: "labels",
		stylers: [
		{ visibility: "simplified" }
		]
	}
	]
};

var map = new google.maps.Map($("#map-canvas")[0], mapOptions);

map.fitBounds(bound)

var overlay = new google.maps.OverlayView();

var layer

overlay.onAdd = function() {
	$(this.getPanes().overlayLayer).append("<div id=\"greenhouseContainers\"></div>");
	layer = $("#greenhouseContainers").css("position", "absolute");
	var me = this;

	_.each(systems, function(system){
		var marker = $("#markers #"+system.uid);
		layer.append(marker);
		google.maps.event.addDomListener(marker[0], 'click', function() {
    		google.maps.event.trigger(me, 'click', system.uid);
   		});	
	});
}

overlay.draw = function() {
	var projection = this.getProjection();
	var d 
	for(var i=0; i<systems.length; i++) {
		d = new google.maps.LatLng(systems[i].data.latitude, systems[i].data.longitude);
		d = projection.fromLatLngToDivPixel(d);
		$("#"+systems[i].uid).css("left", (d.x - 10) + "px").css("top", (d.y - 10) + "px")
	}
};

google.maps.event.addListener(overlay, 'click', function(systemUID){window.location.href = "/systems/details?uid="+systemUID;});

overlay.setMap(map);

</script>

<%- include footer.ejs %>