<%- include header.ejs %>
	   	<div class="row">
			<div class="col-lg-12">
				<ol class="breadcrumb">
	  				<li class="active">Systems</li>
				</ol>
			    <div class="list-group">
				    <% for(var i=0; i<systems.length; i++) { %>
				    	<a href="/systems/systemDetails?uid=<%= systems[i].uid %>" class="list-group-item">
				    	 	<h3><%= systems[i].name %></h3>
				    	 	<p><i>Temperature:</i> <%= ("temperature" in systems[i]) ? systems[i].temperature+'°C' : 'none' %></p>
				    	 	<p><i>Humidity:</i> <%= ("humidity" in systems[i]) ? systems[i].humidity+'%' : 'none' %></p>
				    	 	<p><i>Luminosity:</i> <%= ("luminosity" in systems[i]) ? systems[i].luminosity+' Lux' : 'none' %></p>
				    	 	<p><i>Last comm date:</i> <%= new Date( systems[i].lastCommDate).toString() %></p>
				    	</a>
				    <% } %>
			    </div>
		    </div>
	    </div>
<%- include footer.ejs %>
