<%- include header.ejs %>
  <body>
  	<div class="container">
	  	<div class="row marketing">
			<div class="col-lg-6">
			    <h1>Systems list:</h1>
			    <div class="list-group">
				    <% for(var i=0; i<systems.length; i++) { %>
				    	<a href="/systemdetail?uid=<%= systems[i].uid %>" class="list-group-item">
				    	 	<h3><%= systems[i].name %></h3>
				    	 	<p><i>Temperature:</i> <%= systems[i].temperature %>°C</p>
				    	 	<p><i>Last comm date:</i> <%= new Date( systems[i].lastCommDate).toString() %></p>
				    	</a>
				    <% } %>
			    </div>
		    </div>
	    </div>
    </div>
<%- include footer.ejs %>